.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px;

  &__previous {
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  &__next {
    border: 0;
    background: transparent;
    cursor: pointer;
  }
}
